.logo {

    width: 47px;
    height: 47px;
}

.logo img {

    width: 47px;
    height: 47px;

}

.addNoteBtn {

    position: absolute;
    top: 3px;
    right: 3px;

    width: 47px;
    height: 47px;
}

.addNoteBtn img {

    width: 47px;
    height: 47px;

}