.logo {

    width: 40px;
    height: 40px;

}

.logo img {

    width: 40px;
    height: 40px;

}

.addBtnContainer {

    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #108e89;
    border: 2px solid white;
    border-radius: 9999px;
    width: 66px;
    height: 66px;

}

.addNoteBtn {

    position: absolute;
    top: 10px;
    right: 5px;

    width: 47px;
    height: 47px;

}

.addNoteBtn img {

    width: 42px;
    height: 42px;

}