@page "/"
@page "/index"

@using MediatR;
@using Template.WebUI.Components;
@using Template.Application.Features.Note.Queries;
@using Template.Application.Interfaces.Services;
@using Template.Application.Features.Note.Shared.Dto;

@inject IMediator Mediator
@inject INoteService noteService
@inject NavigationManager navManager

<PageTitle>Home</PageTitle>

<AuthorizeView>

    <Authorized>

        @* MOBILE *@
        <div class="h-full lg:hidden">

            @if (_selectedNote == null && _isQuillBtn == false)
            {
                <div class="addBtnContainer lg:hidden" @onclick=@(()=> _isQuillBtn = !_isQuillBtn)>

                    <div class="addNoteBtn">
                        <img src="/img/appBtn.svg" />
                    </div>

                </div>

                <div class="flex flex-col h-full w-full px-4 py-4 gap-3 overflow-y-auto text-zinc-600">

                    @foreach (var note in _notesList)
                    {
                        <NoteCard Note="@note" IsNoteSelected="IsNoteSelected" />
                    }

                </div>
            }

            else if (_selectedNote == null && _isQuillBtn == true)
            {
                <div class="h-full">

                    <div class="h-full">
                        <CreateNoteForm IsNoteCreated="IsNoteCreated" />
                    </div>

                </div>
            }

            else
            {
                <div class="h-full">

                    <div class="h-full">
                        <UpdateNoteForm Note="@_selectedNote" IsNoteUpdated="IsNoteUpdated" IsNoteDeleted="IsNoteDeleted" />
                    </div>

                </div>
            }

        </div>

        @* DESKTOP *@
        <div class="hidden lg:flex h-full">

            <div class="flex flex-row h-full w-full">

                <div class="flex flex-col h-full w-2/4 px-4 py-4 gap-3 overflow-y-auto text-zinc-600">

                    @foreach (var note in _notesList)
                    {
                        <NoteCard Note="@note" IsNoteSelected="IsNoteSelected" />
                    }

                </div>

                <Splitter />

                <div class="w-2/4 overflow-hidden">

                    @if (_selectedNote == null)
                    {
                        <CreateNoteForm IsNoteCreated="IsNoteCreated" />
                    }
                    else
                    {
                        <UpdateNoteForm Note="@_selectedNote" IsNoteUpdated="IsNoteUpdated" IsNoteDeleted="IsNoteDeleted" />
                    }

                </div>

            </div>

        </div>

    </Authorized>

    <NotAuthorized>
        <div class="flex flex-col h-full w-full px-8 py-4 gap-3 text-zinc-600 lg:px-4">

            <h1 class="text-3xl">Welcome</h1>
            <p class="text-xl">To enjoy the Quill features, please Sign in or create an account.</p>

        </div>
    </NotAuthorized>

</AuthorizeView>

@code {

    private List<NoteDto> _notesList = new();

    private NoteDto _selectedNote = null;
    private bool _isQuillBtn = false;

    protected override async Task OnInitializedAsync()
    {
        _notesList = await Mediator.Send(new GetAllNotesQuery());
    }

    private void IsNoteSelected(NoteDto selectedNoteDto)
    {
        _selectedNote = selectedNoteDto;
    }

    private void IsNoteCreated(NoteDto newNoteDto)
    {
        if (newNoteDto != null)
        {
            _notesList.Add(newNoteDto);
        }
    }

    private void IsNoteUpdated(bool result)
    {
        if (result)
        {
            _selectedNote = null;
            navManager.NavigateTo("/");
        }
    }

    private void IsNoteDeleted(NoteDto noteDeleted)
    {
        if (noteDeleted != null)
        {
            _notesList.Remove(noteDeleted);
        }
    }

}