@page "/"
@page "/index"

@using MediatR;
@using Template.WebUI.Components;
@using Template.Application.Features.Note.Queries;
@using Template.Application.Interfaces.Services;
@using Template.Application.Features.Note.Shared.Dto;

@inject INoteService noteService
@inject IMediator Mediator

<PageTitle>Home</PageTitle>

<AuthorizeView>

    <Authorized>

        <div class="fixed bottom-10 right-10 bg-yellow-200 rounded-full w-14 h-14 lg:hidden">

            <div class="addNoteBtn">
                <img src="/img/newLogo.svg" />
            </div>

        </div>

        <div class="flex flex-row h-full w-full">

            <div class="flex flex-col h-full w-full px-8 py-4 gap-3 text-zinc-600 lg:px-4 lg:w-2/4">

                <h1 class="text-xl italic">Recent notes</h1>
                @foreach (var note in _notesList)
                {
                    <NoteCard Note="@note" IsNoteDeleted="IsNoteDeleted"/>
                }

            </div>

            <div class="hidden lg:flex w-2/4 m-4 border border-1">

                <CreateNoteForm IsNoteCreated="IsNoteCreated" />

            </div>

        </div>
        
    </Authorized>

    <NotAuthorized>
        <div class="flex flex-col h-full w-full px-8 py-4 gap-3 text-zinc-600 lg:px-4">

            <h1 class="text-3xl">Welcome</h1>
            <p class="text-xl">To enjoy the Quill features, please Sign in or create an account.</p>

        </div>
    </NotAuthorized>

</AuthorizeView>

@code {

    private List<NoteDto> _notesList = new();

    protected override async Task OnInitializedAsync()
    {
        _notesList = await Mediator.Send(new GetAllNotesQuery());
    }

    private void IsNoteCreated(NoteDto newNoteDto)
    {
        if (newNoteDto != null)
        {
            _notesList.Add(newNoteDto);
        }
    }

    private void IsNoteDeleted(NoteDto noteDeleted)
    {
        if (noteDeleted != null)
        {
            _notesList.Remove(noteDeleted);
        }
    }
}