@page "/updateNoteMobile/{NoteId:int}"

@using MediatR
@using Template.Application.Interfaces.Services;
@using Template.Application.Features.Note.Queries;
@using Template.Application.Features.Note.Shared.Dto;
@using Template.WebUI.Components;

@inject IMediator Mediator
@inject INoteService noteService
@inject NavigationManager navManager

<PageTitle>Update Note</PageTitle>

<div class="border border-1 rounded-xl m-2 bg-yellow-100">

    <UpdateNoteForm Note="@_note" IsNoteUpdated="Navigate"/>

</div> 

@code {

    [Parameter]
    public int NoteId { get; set; }

    private NoteDto _note = new();

    protected override async Task OnInitializedAsync()
    {
        _note = await Mediator.Send(new GetNoteByIdQuery(NoteId));
    }

    private void Navigate(bool result)
    {
        if (result)
        {
            navManager.NavigateTo("/");
        }
    }

}