<footer class="hidden lg:flex flex-row w-full h-14 fixed bottom-0 left-0 bg-gray-100 lg:border-t-2 border-zinc-200">

    <div class="flex flex-row w-full items-center justify-between text-zinc-600 px-4">

        <div class="text-sm">Copyright © 2024 Quill</div>

        <nav class="flex flex-row w-2/6 items-center justify-between px-12">

            <NavLink href="/">
                Terms
            </NavLink>

            <div class="w-px mt-0.5 h-4 border-r-2 border-zinc-300"></div>

            <NavLink href="/">
                Privacy Policy
            </NavLink>

            <div class="w-px mt-0.5 h-4 border-r-2 border-zinc-300"></div>

            <NavLink href="/">
                Contact
            </NavLink>

        </nav>

        <div class="text-sm italic">Designed by Tom Pearson</div>

    </div>

</footer>

@code {

}
