@using Template.WebUI.Components;

<header class="flex flex-row justify-between items-center w-full h-14 fixed top-0 left-0 bg-gray-100 lg:border-b-2 border-zinc-200">

    @* Desktop *@
    <div class="hidden lg:flex flex-row items-center ml-4 gap-2">

        <div class="cursor-default logo">
            <img src="/img/appLogo.svg" />
        </div>

        <nav class="flex flex-row h-10 gap-4 justify-between items-center text-zinc-600">

            <NavLink class="" ActiveClass="text-blue-500" href="/" Match="NavLinkMatch.All"> 
                Home
            </NavLink>

            <AuthorizeView Roles="Admin, User">
                <Authorized>

                    <div class="w-px mt-0.5 h-4 border-r-2 border-zinc-300"></div>

                    <NavLink class="" ActiveClass="text-blue-500" href="/categories">
                        Categories
                    </NavLink>

                    <div class="w-px mt-0.5 h-4 border-r-2 border-zinc-300"></div>

                    <NavLink class="" ActiveClass="text-blue-500" href="/folders">
                        Folders
                    </NavLink>

                </Authorized>
            </AuthorizeView>

        </nav>

    </div>

    <div class="hidden lg:flex flex-row">

        <AuthorizeView>
            <Authorized>
                <a class="text-zinc-500 text-xl font-bold hover:bg-yellow-100 px-2 py-1 rounded block mr-2" href="/account">
                    @context.User.Identity.Name
                </a>
            </Authorized>
            <NotAuthorized>
                <button class="text-zinc-500 text-xl font-bold hover:bg-yellow-100 px-2 py-1 rounded block mr-2" @onclick="ShowLoginModal">
                    Sign in
                </button>
            </NotAuthorized>
        </AuthorizeView>

    </div>

    @* Mobile *@
    <nav class="text-zinc-600 flex flex-row w-full justify-between px-4 lg:hidden">

        <NavLink class="text-xl font-bold" ActiveClass="text-blue-500" href="/" Match="NavLinkMatch.All">
            <i class="fa-solid fa-house"></i>
        </NavLink>

        <NavLink class="text-xl font-bold" ActiveClass="text-blue-500" href="/categories">
            <i class="fa-solid fa-list"></i>
        </NavLink>

        <NavLink class="text-xl font-bold" ActiveClass="text-blue-500" href="/folders">
            <i class="fa-solid fa-folder"></i>
        </NavLink>

        <AuthorizeView>

            <Authorized>
                <NavLink class="text-zinc-600 text-xl font-bold rounded block" ActiveClass="text-blue-500" href="/account">
                    <i class="fa-solid fa-user"></i>
                </NavLink>
            </Authorized>

            <NotAuthorized>
                <button class="text-zinc-600 text-xl font-bold rounded block" @onclick="ShowLoginModal">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </button>
            </NotAuthorized>

        </AuthorizeView>
    </nav>

</header>

<LoginModal @ref="_loginModal" />

@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    private LoginModal _loginModal;

    private void ShowLoginModal()
    {
        _loginModal.ToggleModal();
    }

}