@using MediatR;
@using Template.Application.Features.Note.Queries;
@using Template.Application.Interfaces.Services;
@using Template.Application.Features.Note.Shared.Dto;

@inject NavigationManager navManager
@inject INoteService noteService
@inject IMediator Mediator

<div class="flex flex-row w-full justify-between border border-1 rounded-xl p-2 bg-white hover:cursor-pointer hover:bg-yellow-100" @onclick="SelectNote">

    <div class="flex flex-row w-full justify-between">

        <div class="flex flex-col">

            <h3 class="font-bold">@Note.Title</h3>
            <p class="text-zinc-500 text-sm">@Note.Content</p>

        </div>

        @if (Note.UpdatedDate == null)
        {
            <div class="text-xs italic">@Note.CreatedDate?.ToString("dd/MM/yyyy")</div>
        }
        else
        {
            <div class="text-xs italic">@Note.UpdatedDate?.ToString("dd/MM/yyyy")</div>
        }

    </div>

</div>

@code {
    [Parameter]
    public NoteDto Note { get; set; }

    [Parameter]
    public EventCallback<NoteDto> IsNoteSelected { get; set; }

    private void SelectNote()
    {
        IsNoteSelected.InvokeAsync(Note);
    }
}