@inject IJSRuntime JSRuntime

<div class="splitter" @ref="splitterRef"></div>

@code {

    private ElementReference splitterRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeSplitter", splitterRef);
        }
    }

}